@import 'node_modules/tailwindcss/base';
@import 'node_modules/tailwindcss/components';
@import 'node_modules/tailwindcss/utilities';
@import url('https://fonts.cdnfonts.com/css/roboto');
@import '_variables';

@font-face {
  font-family: 'CoText';
  src: url('../fonts/CoTextCorp-Regular.woff2') format('woff2'),
  url('../fonts/CoTextCorp-Regular.woff') format('woff'),
  url('../fonts/CoTextCorp-Regular.ttf') format('truetype');
}


.header {
  background-color: $primary;
}

.text-cotext {
  font-family: CoText, sans-serif;
}

.bg-qantis {
  background-color: $primary;
}

.secondary {
  color: $secondary;
}

.primary {
  color: $primary;
}

.gray {
  color: $gray;
}

.b-goToPage {
  position: fixed;
  top: 10rem;
  right: 0px;
  z-index: 100;
  width: 30px;
  backgroundColor: red;
}

.b-goToPage button {
  font-size: 10px;
  width: 30px;
  background-color: red;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: 100%;
}

.sticky-left-button {
  width: 245px;
  position: fixed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 50px;
  right: -180px;
  color: white;
  background: linear-gradient(90deg, $secondary 0%, #404FE6 52.08%, #00C7FF 100%);
  z-index: 9;
  text-align: left;
  padding-left: 25px;
}

.sticky-left-button:hover {
  right: 0px;
  text-align: center;
}

.purple-button {
  height: 32px;
  font-family: CoText, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background: $secondary;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  border: $secondary solid 1px;
  background-color: #FFFFFF !important;
  width: 0.625rem !important;
  height: 0.625rem !important;
}
.swiper-pagination-bullet-active {
  background-color: $secondary !important;
}

 .swiper-button-prev:after, .swiper-button-next:after {
   font-size: 25px !important;
 }

 .default-button-gradient {
   background: linear-gradient(90deg, $secondary 0%, #404FE6 52.08%, #00C7FF 100%);
   border-radius: 25px;
 }

.bg-sticky-button-gradient {
  background: linear-gradient(90deg, $secondary 0%, #404FE6 52.08%, #00C7FF 100%);
}
