@import 'node_modules/tailwindcss/base';
@import 'node_modules/tailwindcss/components';
@import 'node_modules/tailwindcss/utilities';
@import '_variables';
@import 'form';

@font-face {
  font-family: 'CoText';
  src: url('/fonts/CoTextCorp-Regular.woff2') format('woff2'),
    url('/fonts/CoTextCorp-Regular.woff') format('woff'),
    url('/fonts/CoTextCorp-Regular.ttf') format('truetype');
}

.bg-qantis {
  background-color: $primary;
}

.secondary {
  color: $secondary;
}

.primary {
  color: $primary;
}

.gray {
  color: $gray;
}

 .default-button-gradient {
   background: linear-gradient(90deg, $secondary 0%, #404FE6 52.08%, #00C7FF 100%);
   border-radius: 25px;
 }

.default-button-gradient:hover {
  background: $secondary;
}
